<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/img/45.ico" type="image/x-icon" rel="shotcut  icon" />
    @Styles.Render("~/Content/AdminStyles.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="site-name">
            <img src ="/Content/img/45.png"></img>
            <a href="/Home/Index"><h1>ddd.Shop</h1></a>
        </div>
        <div class="site-nav-bar">
            @Html.ActionLink("Товари", "Index", "GoodsEditor")
            @Html.ActionLink("Замовлення", "Index", "Purchases")
        </div>
    </header>

    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Scripts/adminScripts.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
