@model CustomShop.Models.LoginViewModel

@{
    ViewBag.Title = "AdminLogin";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/LoginStyles.css")
</head>
<body>
    <header>
        <div class="site-name">
            <a href="/Home/Index"><h1>ddd.Shop</h1></a>
        </div>
    </header>

    <div class="container">
        <div class="content">
            <div class="login-panel">
                <div class="panel-heading">
                    <h3>Ввійти в систему</h3>
                </div>
                <div class="panel-body">
                    <p class="lead">Для того, щоб ввійти в систему введіть дані адміністратора:</p>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label>Имя пользователя:</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Пароль:</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class=" centered">
                            <input type="submit" value="Ввійти" class="btn" />
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
